
#===============================#
# zfs-space-check configuration #
#===============================#

## no critic (RequireUseStrict)

# sbin directory location
$sbinDir = "/sbin";

# db to keep available space percentage of zfs components after warning.
$DB_File = "/var/db/zfs-space-check/notified.db";

#    zfs_component (zpool,zfs) => {
#        crit => Bytes available, critical threshold, numeric
#        warn => Bytes available, warning threshold, numeric
#        percCrit  => % of available space, critical threshold, numeric
#        percWarn  => % of available space, warning threshold, numeric
#        step      => %, numeric
#            Warn if available space drops below ( last warning value - $step % )
#            and silently reset the last warning value to the current value if space grows up to $step %.

#            # Specific ZFS components overrides
#            comp => {
#                'zfs_component (pool or file sysytem)' => {
#                    parameter => value,
#                },
#            },
#    },

%Conf = (
    zpool => {
        crit     => 10 * 1024**3,     # 10 GB
        warn     => 400 * 1024**3,    # 400GB
        percCrit => 1,
        percWarn => 50,
        step     => 5,

        # comp => {
        #     zroot => {
        #         percWarn => 40,
        #     },
        # },
    },
    zfs => {
        crit     => 100 * 1024**2,    # 100 MB
        warn     => 1024**3,          # 1GB
        percCrit => 1,
        percWarn => 20,
        step     => 5,

        # comp => {
        #     'zroot/tmp' => {
        #         crit => 90 * 1024**2,   # 90 MB
        #     },
        # },
    },
);

__END__
