
#===============================#
# zfs-space-check configuration #
#===============================#

# sbin directory location
$sbinDir = "/sbin";

# db to keep available space percentage of zfs components after warning.
$DB_File = "/var/db/zfs-space-check/notified.db";

#    zfs_component (zpool,zfs) => {
#        threshold  => warning threshold (% of available space), numeric
#        step       => %, numeric
#            Warn if available space drops below ( last warning value - $step % )
#            and silently reset last warning value to current if space grows up to $step %.
#    },

%Conf = (
    zpool => {
        threshold => 50,
        step      => 5,
    },
    zfs => {
        threshold => 20,
        step      => 5,
    },
);

__END__
